<!-- <p>registration-page works!</p> -->
<fieldset>
    <h1>Registration page</h1>
    <div class="rest">
    <label for="text">name:</label>
    <input type="name" placeholder="enter your name">
    <br><br>
    <label for="text">username:</label>
    <input type="username" placeholder="enter your name">
    <br><br>
    <label for="text">password:</label>
    <input type="password" placeholder="enter your password">
    <br><br>
    <label for="text">confirm password:</label>
    <input type="confirm password" placeholder="confirm password">
    <br><br>
    </div>
    <button class="button" (click)="Submit($event)">submit</button>
</fieldset>
